<h1>inicia sesion</h1>

<form action="/api/login" method="POST">
<input type="email" name="email" placeholder="email@email.com">
<input type="password" name="password" placeholder="******">
<button type="submit">aceptar</button>
</form>