<h1>registro de usuarii</h1>

<form action="/api/register" method="POST">
  <p>nombre</p>
  <input type="text" name="first_name" placeholder="nombre" /><br />
  <p>apellido</p>

  <input type="text" name="last_name" placeholder="apellido" /><br />
  <p>edad</p>

  <input type="number" name="age" /><br />
  <p>correo</p>

  <input type="email" name="email" placeholder="email@email.com" /><p>contraseña</p>

  <input type="password" name="password" placeholder="******" /><br /> <br>

  <button type="submit">aceptar</button>
</form>